@import "../omarchy/current/theme/waybar.css";

* {
  background-color: alpha(@background, 0);
  color: @foreground;
  border: none;
  border-radius: 10px;
  min-height: 0;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
  background-color: alpha(@background, 0.9);
  font-size: 12px;
}
.modules-center {
  padding-right: 10px;
  background-color: alpha(@background, 1);
  font-size: 12px;
}

.modules-right {
  margin-right: 8px;
  background-color: alpha(@background, 1);
  font-size: 14px;
}

#workspaces button {
  all: initial;
  padding: 2 6px;
  margin: 0 1.5px;
  opacity: 1;
  font-size: 8px;
  min-width: 9px;
}
#workspaces button.active {
  all: initial;

  opacity: 1;
  padding: 2 6px;
  margin: 0 1.5px;
  min-width: 5px;
  font-size: 8px;
}

#workspaces button.empty {
  opacity: 0.1;
  font-size: 8px;
}
#custom-weather {
  transition: none;
  background-color: alpha(@background, 1);
}

#temperature {
  transition: none;
  background-color: alpha(@background, 1);
}

#temperature.critical {
  background-color: alpha(@background, 1);
}
#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#cpu {
  font-size: 16px;
  margin-right: 12px;
}
#battery {
  font-size: 12px;
}

#tray {
  margin-right: 25px;
}
#backlight {
  font-size: 14px;
}
#bluetooth {
  margin-right: 18px;
  font-size: 15px;
}

#network {
  margin-right: 13px;
  font-size: 14px;
}

#custom-expand-icon {
  margin-right: 20px;
  padding-left: 10px;
}

tooltip {
  padding: 2px;
  background-color: alpha(@background, 0.9);
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  background-color: alpha(@background, 1);
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 18px;
}

#custom-screenrecording-indicator.active {
  color: #ff0000;
}
/* 
.audio-slider {
  padding: 0 10px;
} */

/* slider {
  min-width: 120px;
  min-height: 12px;
  border-radius: 6px;
}

slider trough {
  min-width: 120px;
  min-height: 12px;
  background-color: #444;
  border-radius: 6px;
}

slider highlight {
  min-height: 12px;
  background-color: #eee;
  border-radius: 6px;
} */

window#waybar {
  margin-top: 20px;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
}

#custom-cava {
  font-size: 9px;
  margin-right: 10px;
  font-family: "CaskaydiaCove Nerd Font";
}

#custom-spotify {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
}

/* Fully collapse hidden Spotify module so it doesn't occupy space */
#custom-spotify.hidden {
  margin: 0;
  padding: 0;
  min-width: 0;
}
